@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .banner-events {
  flex-direction: row;
} */

/* @media screen and (max-width: 910px) {
    .banner-events {
      flex-direction: column;
    }
} */

/* #main {
    height: 100%;
} */
 

.mount-calendar-icon {
    content: url('/mountainCalendarIcon-01.png');
    /* cursor: default; */
}
  
  .mount-calendar-icon:hover {
    content: url('/mountainCalendarIconHover-04.png');
    /* cursor: pointer; */
}

.ifch-calendar-icon {
    content: url('/IfchCalendarIcon-01.png');
    /* cursor: default; */
}
  
  .ifch-calendar-icon:hover {
    content: url('/ifchBlue.png');
    /* cursor: pointer; */
}

/* custom-calendar.css */
/* .fc .fc-toolbar {
    background-color: #4A90E2;Change the toolbar background color
  } */
  
  .fc .fc-daygrid-day {
    background-color: #E1F5FE; /* Change the background color of day cells */
  }
  
  .fc .fc-daygrid-day.fc-day-today {
    background-color: #BBDEFB; /* Change the background color of today's cell */
  }
  
  .fc .fc-event {
    background-color: #4A90E2; /* Change the background color of events */
    border-color: #4A90E2; /* Change the border color of events */
  }


  .flex-container {
    display: flex;
    flex-direction: row; /* Change to row if you want them side by side */
    /* align-items: center; Center items horizontally */
    /* justify-content: center; Center items vertically */
  }
  
  .announcement-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px; /* Space between announcement and events */
  }


