/* ButtonStyles.css */
.button {
    background-color: #416855;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: solid #416855;
  }
  
  .button:hover {
    opacity: 0.8;
    border: solid #2c4639;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }