.diagonalBackground {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: #e8f4e7; /* Placeholder color */
    background-size: contain;
    background-position: right;
  }
  
  .content {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-color: white; /* Solid color */
    clip-path: polygon(0 0, 40% 0, 80% 100%, 0 100%);
    color: #376452;
    padding: 2rem;
     /* Ensure content does not overflow the clipped area */
    text-align: left; /* Ensure text is aligned properly */
  }

  @media (max-width: 850px) {
    .content {
      clip-path: none;
    }
  }
  
  /* h1, p {
    margin: 0;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 40%; 
  } */

  .yearStyles {
    position: relative;
    background-color: #b1a59c;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    margin-bottom: -5rem;;
  }

  .yearStyles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #575656; /* Different background color #b1a59c */
    clip-path: polygon(0 0, 80% 0, 0 92%, 0 100%);
    z-index: -1; /* Ensure it appears behind the main element */
  }

.dateTitle {
    position: relative;
  color: white; /* text-black in Tailwind CSS */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-color: rgba(121, 161, 122, .5); /* bg-mountainview-light-green in Tailwind CSS */
  padding: 0.5rem; /* p-2 in Tailwind CSS */
  font-weight: bold; /* font-bold in Tailwind CSS */
  clip-path: polygon(0 0, 230px 0, 250px 100%, 0 100%);
}

.dateTitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 161, 122, 1); /* Different background color */
    clip-path: polygon(0 0, 220px 0, 240px 100%, 0 100%);
    z-index: -1; /* Ensure it appears behind the main element */
  }